<section class="fondo-morado fila" id="servicio">
    <div class="contenedor" style="text-align: center;">
            <div class="formulario" style=" margin-bottom: 40px;">
            <label>¿No quieres usar tu voz? ¡Escribenos tus dudas!</label>            
              <?= $this->Form->create() ?>     
                    <?= $this->Form->input('usernameusu',[
                    'class'=>'col-md-4 fot',
                    'placeholder'=>'Nombre',
                    'label'=>false,
                    'required'
              ]) ?>  
              <br>
 
              <?= $this->Form->input('emailusu',[
            		'class'=>'col-md-4 fot',
            		'placeholder'=>'Email',
            		'label'=>false,
            		'required'
              ]) ?> 
              <br>

              <?= $this->Form->input('mensajeusu',[
            		'class'=>'col-md-4 fot',
            		'placeholder'=>'Mensaje',
            		'label'=>false,
            		'required'
              ]) ?> 
              <br>
                   
              <?= $this->Form->button('Enviar',[
                'class'=>'col-md-2 enviar enviar'
              ])?>
            </div>
          </div>
      </div>
</section>


            
      