<header>
	<div role="main" class="cuerpo">
		<div class="fondo-menu">
			<div class="contenedor">
					<?if(($this->request->params['controller'] != 'User')AND($this->request->getparams['action'] != 'login')){?>
					<ul class="ul-header">
						<li class="li-header"><a href="/users/logout" class="dropbtn">Cerrar Sesión</a></li>
					</ul>
					<?}?>
			
			</div>
		</div>
	</div>
</header>

<style>

	.open-hide {
		background-color: #f7f5ee;
		width: 35px;
		height: 35px;
		display: block;
		background-image: url(/img/boton-menu.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 25px;
		text-indent: -9999em;

		&:hover {
			cursor: pointer;
		}
	}

	.show {
		background-image: url(/img/boton-menu.png);
		background-size: 15px;


		+.smenu {
			height: 100px;
		}
	}
</style>