@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?82215574');
  src: url('../font/fontello.eot?82215574#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?82215574') format('woff'),
       url('../font/fontello.ttf?82215574') format('truetype'),
       url('../font/fontello.svg?82215574#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?82215574#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cancel-1:before { content: '\e800'; } /* 'î €' */
.icon-menu:before { content: '\e801'; } /* 'î ' */
.icon-up:before { content: '\e802'; } /* 'î ‚' */
.icon-calendar:before { content: '\e803'; } /* 'î ƒ' */
.icon-agregar:before { content: '\e804'; } /* 'î „' */
.icon-audiencia:before { content: '\e805'; } /* 'î …' */
.icon-carpeta:before { content: '\e806'; } /* 'î †' */
.icon-conyuges:before { content: '\e807'; } /* 'î ‡' */
.icon-cuenta:before { content: '\e808'; } /* 'î ˆ' */
.icon-descarga:before { content: '\e809'; } /* 'î ‰' */
.icon-email:before { content: '\e80a'; } /* 'î Š' */
.icon-facebook:before { content: '\e80b'; } /* 'î ‹' */
.icon-firma:before { content: '\e80c'; } /* 'î Œ' */
.icon-formulario:before { content: '\e80d'; } /* 'î ' */
.icon-hora:before { content: '\e80e'; } /* 'î Ž' */
.icon-ingreso:before { content: '\e80f'; } /* 'î ' */
.icon-linkedin:before { content: '\e810'; } /* 'î ' */
.icon-matrimonio:before { content: '\e811'; } /* 'î ‘' */
.icon-password:before { content: '\e812'; } /* 'î ’' */
.icon-persona:before { content: '\e813'; } /* 'î “' */
.icon-personas:before { content: '\e814'; } /* 'î ”' */
.icon-registrate:before { content: '\e815'; } /* 'î •' */
.icon-registro:before { content: '\e816'; } /* 'î –' */
.icon-tramitacion:before { content: '\e817'; } /* 'î —' */
.icon-twitter:before { content: '\e818'; } /* 'î ˜' */
.icon-usuario:before { content: '\e819'; } /* 'î ™' */
.icon-visitas:before { content: '\e81a'; } /* 'î š' */