@import url(https://fonts.googleapis.com/css?family=Avenir);
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.eot');
  src: local('Avenir Medium'), local('Avenir-Medium'),
      url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Avenir-Medium.woff2') format('woff2'),
      url('../fonts/Avenir-Medium.woff') format('woff'),
      url('../fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url("../fonts/Museo_700_Regular.eot");
  src: url("../fonts/Museo_700_Regular.woff") format("woff"), url("../fonts/Museo_700_Regular.ttf") format("truetype"), url("../fonts/Museo_700_Regular.svg") format("svg"); }
@font-face {
  font-family: 'Fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg") format("svg"); }
/* Colores */
/** GENERALES **/
header, footer, section, article, div, input, .btn-form {
  box-sizing: border-box; }

body {
  color: #85808f;
  font: 14px/1.5em 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

h2, h3, h4 {
  font-family: "Museo", sans-serif;
  line-height: 1em;
  padding-bottom: 20px; }

img {
  height: 10%;  
  width: 15%;
}

.header{
  font-family: 'Avenir' !important;
}

.btn-pdf{
  font-size:30px;
  color:white;
}


.consejos{
  margin-left:23%;
  margin-top : -6%
}

.date-test{
  margin-top:10%;
}

.img_home {
  width: 20%;
  height: 20%;
}

.text_superior{
  font-size:300%;
  font-family: 'Avenir';
}

.label-cuentanos{
  font-size:150%;
  font-family:'Avenir';
}

.formulario-imput{
  width:100%;
  margin-left:-15%;
}

.cuentanos-form{
  margin-left:33%;
}

.imagen_podcast{
  /* margin-top: -506px;
  margin-left: 50%;
  width:50%; */
  height: 412px;
  background-color:#eb8089
}

.text_evalua{
  font-size:20px;
}

.title_formularios{
  margin-left:-60%;
}

.title_respuesta{
  margin-left:60%;
  margin-top:-4%
}

.capacity{
  margin-left:-60%;
}

.perception{
  margin-left:-52%;
}

.healt{
  margin-left:-60%;
}

.communication{
  margin-left:-38.5%;
}

.autoeficacy{
  margin-left:-51%;
}

.form-formulario{
  margin-top: -3%;
  margin-left:73%;
}

.ilustracion2 {
  /* background-image: url(../img/consejos.jpg); */
  background-position: 43% top;
  height: calc(50vh - 112px); }

.ilustracion3 {
  background-image: url(../img/ilustracion_full.jpg);
  background-position: 43% top;
  height: calc(63vh - 112px); }

.ilustracion4 {
  background-color: #d3562e;

  background-position: 43% top;
  height: calc(73vh - 112px); }

.ilustracion5 {
  background-position: 43% top;
  width: 100%; }

.imagen_consejos{
  /* width:11; */
  height: 74%;
  margin-top: 2%;
  margin-left:6%;
}

.col-md-12{
  width:100%;
}

.imputs_list_form{
  margin-left:-10%;
}

.ilustracion_login{
  background-color: #d3562e;
  height: 100%;
  width: 100%;}

.ilustracion_podcast {
  /* background-image: url(../img/ilustracion_full.jpg); */
  background-position: 43% top;
  height: calc(63vh - 112px);
}

.text_su_voz{
  margin-top:25%;
}

.reproductor_border{
  margin-top:8%;
}

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

p {
  padding-bottom: 20px; }

strong {
  font-weight: bold; }

ol {
  margin-bottom: 30px; }

input[type='submit'] {
  border: 0;
  margin: 0; }

.cuerpo {
  text-align: center; }

.subtitulo {
  clear: both;
  display: block;
  font-size: .45em; }

.texto-naranjo {
  color: #d8a43a; }

.parrafo {
color:black;
margin-top: 70%;
}

.fuente-alternativa {
  font-family: "Museo", sans-serif; }

/* .fondo-higo {
  background-color: #322f38; } */

.fondo-morado {
  background-color: #d3562e;
  color: #ffffff; }

.fondo-naranjo {
  background-color: #d8a43a;
  color: #ffffff; }

.fondo-invierno {
  background-color: #f9f8f5; }

/** BOTONES Y ENLACES **/
.btn {
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Museo", sans-serif;
  text-align: center;
  white-space: nowrap;
  letter-spacing: .05em;
  margin-bottom: 20px; 
  /*margin-left: 120%*/
}

.input-block-level{
  width: 100%;
  font-weight: bolder;
  padding: 20px;
}

.btn-sm {
  font-size: 1em;
  padding: .7em 1.2em;
  display: inline-block; }

.btn-lg {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 1.5em;
  max-width: 17.9em;
  padding: .8em 3.7em; }

.btn-naranjo {
  background-color: #d4930f; }
.btn-naranjo:hover {
  background-color: #c98206; }

.btn-higo {
  background-color: #322f38; }
.btn-higo:hover {
  background-color: #85808f; }

.btn-morado {
  background-color: #694281; }
.btn-morado:hover {
  background-color: #443354; }

.btn-gris {
  background-color: #85808f; }
.btn-gris:hover {
  background-color: #322f38; }

.btn-azul {
  background-color: #3b5998; }
.btn-azul:hover {
  background-color: #0e1f56; }

.btn-up {
  background-color: #322f38;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  height: 40px;
  opacity: .9;
  overflow: hidden;
  visibility: hidden;
  width: 40px; }

.btn-radio {
  display: none; }

.icon-up {
  color: #baaec8;
  display: block;
  font-size: 1.1em;
  line-height: 40px;
  text-align: center; }

.enlace {
  color: #d8a43a;
  font-weight: bold; }
.enlace:hover {
  color: #77579a; }
/** CONTENEDORES **/

.contenedor {
  width: 100%;
  padding: 0 15px;
  margin: auto; 
}

.footer-text{
  margin-top:23%;
}

.footer-text-2{
  margin-left:-36%;
  font-size:13px;
}

.footer-text-3{
  margin-left:-36%;
  font-size:13px;
}

.footer-text-4{
  margin-left:1%;
  font-size:13px;
}

.footer-text-5{
  margin-top: 3%;
}

.contenedor > .noticia{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
}

.conten {
  width: 100%;
  padding: 15px;

} 
.conten  > .noti {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
}

.noticia {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  width: 100%;
  padding: 25px;
}

/*Noticias estilo*/
.contenedorn{
  /* display: flex; */
  float: left;
  width: 50%;
  height: 20%;

 
}
.contenedorn .texto{
  text-align: justify;
  margin-left:  15%;
  margin-right:  15%;
}
#titulo{
  margin-top: 13%;
}

.imagenoticia{
  width:80%;
  height: 154.417px;
  margin-top: 5%;

}

.contenedorn h5{
 float: left;
 margin-left:15%
}

.volver {
float: right;
}

.text-home{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  padding: 6%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.fila {
  padding: 50px 0px; 
  margin:50px;
}

.contenedor-cajas, .contenedor-columnas, .form-reset-container, .contenedor-dashboard {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.contenedor-cajas {
  margin: 20px 0 30px; }

.form-reset-container {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.form-reset {
  max-width: 360px; }

.contenedor-icono {
  width: 45px;
  height: 45px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 1em;
  text-align: center; }
.contenedor-icono span {
  line-height: 45px;
  font-size: 26px; }

/** HEADER **/
header {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; }

/** ACCESO **/
.acceso {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.acceso a {
  color: #baaec8;
  display: inline-block;
  padding: .4em .8em; }
.acceso a:hover {
  background-color: #694281;
  color: #ffffff; }

/** MENU **/
.fondo-menu {
  background-color: #f7f5ee;
  padding: 10px 0; }
.fondo-menu .contenedor {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }

.logo {
  width: 7%; 
}

.logo a {
  background: url(../img/header.png) no-repeat top left;
  background-size: 100%;
  display: block;
  height: 60px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* .footer-text{
  color:black;
  margin-bottom:-2%;
} */

.footer-text{
  margin-bottom: -2%;
  color:black;
}

nav {
  background-color: #f7f5ee;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  /* height: 100vh; */
  position: fixed;
  /* width: 100%; */
  z-index: 20;
  right: -100%;
  top: 0;
  padding-top: 40px; }

 .boton-menu {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-bottom: 20px;

  }


  .menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center; }

  .menu li {
    border-bottom: 1px dotted rgba(220, 220, 220, 0.7);
    text-align: center;
  }

/** menu desplegable **/
  .menu ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
    text-align: center;
	}
	.menu a {
    font-family: "Museo", sans-serif;
		display: block;
		padding: .7em;
		text-decoration: none;
		color: #946498;
    font-size: 1.8em;
	}
	.menu a:hover {
    color: #d8a43a;

	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover {
		display: block;
    position: absolute;
    background-color: #f7f5ee;
    border-radius: 10px;
	}

.boton-menu {
  overflow: hidden;
  white-space: nowrap;
  width: 40px;
  z-index: 30;
 }
.boton-menu a {
  font-size: 2em; }
.boton-menu a:hover {
  color: #d8a43a; }

.nav a {
  font-family: "Museo", sans-serif;
  padding: .8em; }
.nav a:hover {
  color: #d8a43a; }

/** SLIDER **/
.ilustracion {
  background-color:  #d3562e;
  height: 412px;
}

.contenedor-slider {
  background-color: #fbdfd0;
  padding: 15px;
  width: 100%; }

.contenedor-textos-slider {
  width: 100%;
  overflow: hidden; }

.lista-slider {
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 500%; }

.slide {
 
  display:table;
  width: 100%;
  
   
}

.item-paginacion {
  background-color: #baaec8;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 12px; }

.item-paginacion-activo {
  background-color: #77579a; }

/** PASOS **/
.paso {

  display: inline;
  text-align: justify;
  
}

.paso span {
  color: #d8a43a;
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: justify; }

/** TABS **/
.navegacion-etiquetas {
  display: none; }

.titulo-etiqueta, .nav-etiqueta {
  background-color: #e8e8e7;
  cursor: pointer;
  font-family: "Museo", sans-serif;
  font-size: 1.2em;
  padding: .5em; }

.titulo-etiqueta {
  display: block;
  border-bottom: 1px solid #f9f8f5; }

.contenedor-etiquetas {
  position: relative;
  background-color: #ffffff; }

.contenido-etiqueta {
  overflow: hidden; }

#etiqueta-1:checked ~ div [for='etiqueta-1'], #etiqueta-2:checked ~ div [for='etiqueta-2'], #etiqueta-3:checked ~ div [for='etiqueta-3'], #etiqueta-4:checked ~ div [for='etiqueta-4'], #etiqueta-5:checked ~ div [for='etiqueta-5'] {
  background-color: #d8a43a;
  color: #ffffff; }

.contenedor-tarifas {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center; }

.tarifa {
  border: 1px solid #e8e8e7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px; }

.tarifa-titulo {
  background-color: #e8e8e7;
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  padding: .4em .3em; }

.tarifa-texto {
  padding: 10px; }

.tarifa-valor {
  color: #ffffff;
  background-color: #d8a43a;
  display: block;
  font-weight: bold;
  padding: .4em 0;
  text-align: center; }

/** SERVICIO **/
.servicio {
  background-color: #77579a;
  margin: 1px;
  padding: 20px 15px 0px; }

.servicio-activo {
  background-color: #f9f8f5;
  color: #85808f; }

.webpay img {
  width: 200px; }

/** FOOTER **/
footer {
  color: #ffffff; }
footer .logo {
  margin-bottom: 30px;
  display: inline-block; }

.redes-sociales {
  margin-top: 20px;
  margin: 20px 10% 0 10%;
  display: block;
}

.redes-sociales a {
  font-size: 3em; }
.redes-sociales a:hover {
  color: #d8a43a; }

/** MODAL **/
.open-modal {
  overflow: hidden; }

.modal-fondo {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3000;
  top: 0;
  bottom: 0;
  display: none; }

.modal-contenedor {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.modal-wrapper {
  background-color: #ffffff;
  position: relative;
  width: 340px;
  padding: 40px 40px 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6); }

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block; }

.modal-header {
  margin-bottom: 20px; }

.modal-body {
  margin-bottom: 30px; }

.modal-body .btn-facebook {
  margin: -10px 0 20px; }

.lineas-gemelas {
  position: relative;
  border-bottom: 1px solid #85808f;
  height: .9em;
  margin-bottom: 20px; }
.lineas-gemelas span {
  background-color: #ffffff;
  position: relative;
  padding: 0 15px; }

.form-group {
  text-align: left;
  margin-bottom: 15px; 
}
.form-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  color: #322f38; 
}

.form-group2 input {
  border: 1px solid #85808f;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: .5em; 
}



.btn-form, button.btn-form {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: .4em .7em;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
  margin: 20px 0;
  cursor: pointer; }

.mensaje-error {
  color: #ff290d;
  font-size: .9em;
  font-weight: bold; }

.mensaje-exito {
  font-weight: bold; }

/** FORMULARIOS DE MATRIMONIO **/
.menu-formulario ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: hidden; }

.btn-menu-form {
  color: #ffffff; }

.item-menu-form {
  background-color: #e8e8e7;
  text-shadow: 1px 1px 0 #ffffff; }

.btn-menu-form, .item-menu-form {
  font-family: "Museo", sans-serif;
  padding: .8em;
  border-bottom: 1px solid #f9f8f5;
  display: block; }

.item-menu-form:hover, .item-menu-activo {
  background-color: #d8a43a;
  color: #ffffff;
  text-shadow: none; }
.item-menu-form:hover span, .item-menu-activo span {
  color: #d8a43a; }

.contenedor-formulario-divorcio {
  background-color: #ffffff;
  padding: 20px;
  text-align: left; }
.contenedor-formulario-divorcio h3 {
  border-bottom: 5px solid #e8e8e7;
  color: #d8a43a;
  padding-bottom: 5px;
  margin-bottom: 30px; }
.contenedor-formulario-divorcio p {
  padding-bottom: 10px; }
.contenedor-formulario-divorcio input[type=text], .contenedor-formulario-divorcio input[type=number], .contenedor-formulario-divorcio input[type=date], .contenedor-formulario-divorcio input[type=time], .contenedor-formulario-divorcio input[type=email], .contenedor-formulario-divorcio select {
  background-color: #e8e8e7;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #85808f;
  color: #85808f;
  font-weight: bold; }

.grupo-datos, .grupo-opciones {
  margin-bottom: 20px; }

.fila-datos {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin-bottom: 20px; }

.enviar{
  color:black;
  margin-left:33%;
}

.reproductor{
  margin-left:50%;
  margin-top:-27%;
  /* margin-top: 20%; */
}

.container-audios{
height: 304px;
width: 100%;
}

.wrap {
  margin-top: auto;
  width: 90%;
  max-width: 500px;
  padding: 86px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
  position: left;
}

.fondo-menu .contenedor {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; 
}

/** menu desplegable **/
  .menu ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
    text-align: center;
	}
	.menu a {
    font-family: "Museo", sans-serif;
		display: block;
		padding: .7em;
		text-decoration: none;
		color: #946498;
    font-size: 1.8em;
	}
	.menu a:hover {
    color: #d8a43a;

	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover {
		display: block;
    position: absolute;
    background-color: #f7f5ee;
    border-radius: 10px;
	}

.boton-menu {
  overflow: hidden;
  white-space: nowrap;
  width: 40px;
  z-index: 30;
 }
.boton-menu a {
  font-size: 2em; }
.boton-menu a:hover {
  color: #d8a43a; }

.nav a {
  font-family: "Museo", sans-serif;
  padding: .8em; }
.nav a:hover {
  color: #d8a43a; }

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-variant: small-caps !important;
		margin-bottom: 20px !important;
		border-width: 100%;
	}

	li {
		float: right;
		margin: 0px;
		padding: 2px;
		font-size: small !important;
	}

	li a,
	.dropbtn {
		float: right;
	}

	li a:hover,
	.dropdown:hover .dropbtn {
		text-decoration: none;

	}

	li.dropdown {
		display: inline-block;
	}


	.dropdown-content a:hover {
		background-color: #f7f5ee;
	}

	.dropdown:hover .dropdown-content {
		display: block;
  }
  
  .audio{
    /* margin-bottom:50px; */
    /* margin-top: -50px; */
    width: 29%;
  }


	/* ----------------------------------------------------------------------------------------------------------*/


	.open-hide {
		background-color: #f7f5ee;
		width: 35px;
		height: 35px;
		display: block;
		background-image: url(/img/boton-menu.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 25px;
		text-indent: -9999em;

		&:hover {
			cursor: pointer;
		}
	}

	.show {
		background-image: url(/img/boton-menu.png);
		background-size: 15px;
  }
  
  .footer-2{
    margin-left:36%;
    margin-top: -15%;
  }

  .footer-3{
    margin-left:-7%;
    margin-top: 8%;
  }

  .footer{
    margin-left:13%;
    margin-top: -10%;
  }

  .texto{
    margin-left:5%;
  }

  .foto_lengua{
    /* margin-top: 35%;
    margin-left:31%; */
    width:27%;
    /* height: 48%; */
  }

  .logo_volar{
    width: 10%;
    margin-left:7%;
  }

  .podcast_text{
    color:white;
    /* margin-top: -6%;
    margin-left:9%; */
    font-size: 72px;
    font-family: 'Avenir';
  }

  .podcast_text_2{
    color:Black;
    /* margin-top: -63%;
    margin-left:9%; */
    font-size:45px;
    font-family: 'Avenir';
  }

  .podcast_text_3{
    color:white;
    /* margin-top: -5%;
    margin-left:1%; */
    font-size:33px;
    font-family: 'Avenir';
  }



  /* Datos de paciente */

  .label_formulario{
    color:black;
  }

  .form_datos{
    margin-left:-100px;
  }

  .form-control-2{
    width:100%;
  }

  .center{
    margin-left:10%;
  }

  .background{
    background-color: #fbdfd0
  }

  .background2{
    background-color: #eb8089;
    }

  .background3{
    background-color:#d3562e;
  }

  .label_pdf{
    color:white;
    font-size:150%;
  }

  .btn-danger{
    margin-top:3%;
  }

  .title{
    margin-left:10%;
  }

  /* Home private */
  .img_private {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color:#EDE4C7;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #eb8089;
  }

  .podcast_text {
    color: white;
    /* margin-top: -6%; */
    margin-left: 12%;
    font-size: 52px;
    font-family: 'Avenir';
  }

  .podcast_text_2 {
    color: Black;
    /* margin-top: -75%; */
    margin-left: 0%;
    font-family: 'Avenir';
  }

  .podcast_text_3 {
    color: white;
    /* margin-top: -6%; */
    margin-left: 4%;
    font-size: 33px;
    font-family: 'Avenir';
}

@media all and (max-width:455px){
  .ilustracion {
    background-color:  #d3562e;
    height: 450px;
  }
}

@media all and (max-width:424px){
  .ilustracion {
    background-color:  #d3562e;
    height: 500px;
  }
}

@media all and (max-width:395px){
  .ilustracion {
    background-color:  #d3562e;
    height: 550px;
  }
}

@media all and (max-width: 374px){
  .ilustracion {
    background-color:  #d3562e;
    height: 600px;
  }
}

@media all and (max-width: 325px){
  .ilustracion {
    background-color:  #d3562e;
    height: 650px;
  }

  .podcast_text {
    color: white;
    /* margin-top: -6%; */
    margin-left: 12%;
    font-size: 45px;
    font-family: 'Avenir';
}
}
 

  