<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="<?php echo $this->Url->build('/Users/index'); ?>">
      <i class="fa fa-users"></i> <span>Usuarios</span>

    </a>
  </li>
  <li>
    <a href="<?php echo $this->Url->build('/home/index'); ?>">
      <i class="fa fa-home"></i> <span>Slider</span>
    </a>
  </li>

  <li>

  <!-- <li>
    <a href="<?php echo $this->Url->build('/procesos/index'); ?>">
      <i class="fa fa-balance-scale"></i> <span>Proceso Mutuo Acuerdo</span>
    </a>
  </li>

  <li>
    <a href="<?php echo $this->Url->build('/beneficios/index'); ?>">
      <i class="fa fa-files-o"></i> <span>Beneficios del Divorcio</span>
    </a>
  </li>

  <li>
    <a href="<?php echo $this->Url->build('/preguntas/index'); ?>">
      <i class="fa fa-pie-chart"></i>
      <span>Preguntas Frecuentes</span>
    </a>
  </li>
  <li>
    <a href="<?php echo $this->Url->build('/noticias/index'); ?>">
      <i class="fa fa-laptop"></i>
      <span>Noticias</span>

    </a>

  </li>
  <li>
    <a href="<?php echo $this->Url->build('/Quienes/index'); ?>">
      <i class="fa fa-edit"></i> <span>Quienes Somos</span>

    </a>

  </li>
  <li>
    <a href="<?php echo $this->Url->build('/tarifas/index'); ?>">
      <i class="fa fa-money"></i> <span>Tarifas</span>
    </a>
  </li>

  <li>
    <a href="<?php echo $this->Url->build('/solicitudes/index'); ?>">
      <i class="fa fa-folder-open"></i> <span>Solicitudes</span> 
    </a>
  </li>

  <li>
    <a href="<?php echo $this->Url->build('/Users/index'); ?>">
      <i class="fa fa-users"></i> <span>Usuarios</span>

    </a>
  </li>
  <li>
    <a href="<?php echo $this->Url->build('/Form/index'); ?>">
      <i class="fa fa-edit"></i> <span>Formulario</span>
      
    </a>
   
  </li> -->

  <li class="header"></li>
  <li><a href="/"><i class="fa fa-home text-purple"></i> <span><strong>Campaña Artritis 2020</strong></span></a></li>

</ul>