<div class="user-panel">
    <div class="pull-left image">
       <br>
    </div>
    <div class="pull-left info">
        <p>Administración</p>
        <!-- a href="#"><i class="fa fa-circle text-success"></i> Online</a -->
    </div>
</div>